.read-the-docs {
  color: #888;
  font-family: 'Montserrat', sans-serif;
}

body {
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#msj {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: #f0e6e6 solid;
  border-radius: 5%;
}

#msjErr {
  color: red;
}


